ul {
    list-style-type: none;
}
.navbar {
    background-color: #FF4500;
    color: whitesmoke;
}

.nav-header {
    background-color: #FF4500;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}

.create-post {
    display: flex;
    justify-content: center;
}

.post {
    background-color: #E8E8E8;
    padding: 5px;
    margin: 10px;
    border-color: black;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.btn, .btn:focus, .btn:active{
    color: whitesmoke;
    background-color: #FF4500;
    border: #FF4500;
    margin: 0 0 0 1em;
}
.btn:hover {
    background-color:  #FFC47F;
    color: #FF4500;
}


[name="newPostButton"] {
    margin: 0 0 0 0.5em;
}

.nav-tabs>li>a {
    color: #FF4500;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: whitesmoke;
    background-color: #FF4500;
}

.post-string {
    color: blue;
}